<article class="order">
    <%= link_to order do %>  
      <p><%= order.line_items.product %></p>
  <p class="quantity">
    <%= order.line_items.quantity %>
  </p>
  <p> <%= order.line_items.item_price %>   </p>
  <p> <%= order.line_items.total_price %> </p>
  <% end %>
</article>