<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <div class="line-items">
      <%#<%= render @order %>
      <%= @order.line_items.includes(:product).each do |i| %>
        <img src="<%= i.product.image %>">
        <p> <%= i.item_price_cents %> </p>
      <% end %> 
      
    </div>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
<%= console %>
</section>