<section> 

    <p>Hey most valued customer of Jungle, </p>

    <p>Here's your order!</p>

    <p>Order ID: <%= @order.id %></p>

    <p>Your order is as follows: </p>
        <ul>
            <% @order.line_items.includes(:product).each do |i| %>
                <li> <%= i.product.name %> - <%= i.product.description %> - <%= i.quantity %> - <%= humanized_money_with_symbol i.item_price_cents %> </li>
            <% end %> 
        </ul>
    <p>Total: <%= humanized_money_with_symbol @order.total_cents %></p>
    <p>Have a great day!</p>

</section>