<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Avg. Rating</dt>
          <dd><%= @product.ratings.average(:rating) ? @product.ratings.average(:rating).round(2) : "No reviews found" %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="product-rating col-sm-8">
        <div class= "row">
        <h3 class="title"> What others have to say about this product </h3>
        <% @product.ratings.reverse_each do |r| %>
          <div class= "well">
            <p> <b>User:</b> <%= r.user.name %> <b>Rating:</b> <%= r.rating %> <b>Date Reviewed</b> <%= r.created_at %></p>
            <p> <b>Description:</b> <%= r.description %> </p>
            <% if current_user%>
              <% if r.user_id == current_user.id %>
                <button class="btn btn-danger delete">    
                  <%= link_to 'Delete', [@product, r],
                  :method => :delete,
                  data: { confirm: 'Are you sure?' }
                  %> 
                </button>
              <% end %>
            <% end %>  
          </div>
        <% end %>
        </div>
        <% if current_user %>
          <div class="row well">
            <%= form_for [@product, @rating] do |f| %>                
              <% if f.object.errors.any? %>
                <div class="alert alert-danger">
                  <strong>The following errors prevented saving:</strong>
                  <ul>
                    <% f.object.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="form-group">
                <%= f.label :rating %>
                <%= f.select :rating, options_for_select([[1], [2], [3], [4], [5]]), class: 'form-control' %> 
                <%#<%= f.number_field :rating, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: 'form-control' %>
              </div>
              <%= f.submit 'Submit Review', class: 'btn btn-primary' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </article>

</section>
